*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
}

.header{
    /*background-color: blue;*/
    align-items: center;
}

.container{
    /*background-color: antiquewhite;*/
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 'logo logo logo log nav nav nav nav nav nav';
}

.logo{
    grid-area: logo;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav{
    grid-area: nav;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.nav li{
    margin: 0 15px;
}

.nav a{
    color: #000;
    font-weight: 500;
    text-decoration: none;
}