*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
}

.header{
    align-items: center;
}

.container{
    /*background-color: antiquewhite;*/
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 'logo logo logo log nav nav nav nav nav nav'
                          'left-side left-side left-side left-side . right-side right-side right-side right-side right-side';
}

.logo{
    grid-area: logo;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav{
    grid-area: nav;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.nav li{
    margin: 0 15px;
}

.nav a{
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.main{
    background-color: #495E57;
    align-items: center;
    padding-bottom: 10px;
}

.left-side{
    grid-area: left-side;
    color: #fff;
    margin-top: 30px;
}

.left-side > h1{
    color: #F4CE14;
    font-size: 35px;
    margin-top: 20px;
    line-height: 1;
}

.left-side > p{
    margin-top: 20px;
    line-height: 1.4;
}

.left-side > button{
    background-color: #F4CE14;
    padding: 5px 30px;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}

.right-side{
    grid-area: right-side;
}

.right-side > img{
    height: 300px;
    margin-top: 30px;
    width: 300px;
    float: right;
    border-radius: 20px;
}